<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="jeecartographytool.heuristics">
      <jeecartographytool.heuristic.extension
            class="jeeprojectgroupingheuristic.ProjectGroupingHeuristic">
      </jeecartographytool.heuristic.extension>
   </extension>

</plugin>
